th  {
 padding: 20px;
}

a  {
padding: 50px;
cursor: grab;

}

td  {
background-color: grey;
border-style: solid;
border-width: 1px;
text-align: center;
cursor: grab;
}

.no  {
padding: 50px;
background-color: white;
border-style: none
}

.paars  {
background-color:rgb(206, 148, 199);
padding: 23px;
border-style: solid;
border-width: 1px;
text-align: center;
}

.orange  {
background-color:rgb(255, 211, 119);
padding: 23px;
border-style: solid;
border-width: 1px;
text-align: center;
}

.blauw  {
background-color:rgb(111, 174, 255);
padding: 23px;
border-style: solid;
border-width: 1px;
text-align: center;
}

.geel  {
background-color:rgb(255, 255, 108);
padding: 23px;
border-style: solid;
border-width: 1px;
text-align: center;
}

color  {
color: green;
}

getal  {
font-size: 15px;
}

notatie  {
font-size: 30px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}

td:hover {
  background-color:rgb(214, 255, 71);
}